
-- Ensure all foreign keys point to profiles for easy joins
ALTER TABLE public.group_members DROP CONSTRAINT IF EXISTS group_members_user_id_fkey;
ALTER TABLE public.group_members ADD CONSTRAINT group_members_user_id_fkey 
    FOREIGN KEY (user_id) REFERENCES public.profiles(id) ON DELETE CASCADE;

-- Ensure expenses also point to profiles
ALTER TABLE public.expenses DROP CONSTRAINT IF EXISTS expenses_paid_by_fkey;
ALTER TABLE public.expenses ADD CONSTRAINT expenses_paid_by_fkey 
    FOREIGN KEY (paid_by) REFERENCES public.profiles(id) ON DELETE CASCADE;

