
-- Allow deleting expenses
DROP POLICY IF EXISTS \
Members
can
delete
own
expenses\ ON expenses;
CREATE POLICY \Members
can
delete
own
expenses\ ON expenses 
    FOR DELETE USING (
        auth.uid() = paid_by OR 
        EXISTS (SELECT 1 FROM groups WHERE groups.id = expenses.group_id AND groups.created_by = auth.uid())
    );

-- Allow updating expenses
DROP POLICY IF EXISTS \Members
can
update
own
expenses\ ON expenses;
CREATE POLICY \Members
can
update
own
expenses\ ON expenses 
    FOR UPDATE USING (
        auth.uid() = paid_by OR 
        EXISTS (SELECT 1 FROM groups WHERE groups.id = expenses.group_id AND groups.created_by = auth.uid())
    );

